[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
pymysql = "*"
uvicorn = {extras = ["standard"], version = "*"}
uvloop = "*"
dictalchemy3 = "==1.0.0"
structlog = "*"
loguru = "*"
python-dotenv = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.8"
